.footer {
  text-align: center;
  padding: 20px;
  background-color: transparent;
  color: rgb(5, 5, 34);
  margin-top: 50px;
}
.footer p{
  font-size: 13px;
}

@media (min-width: 768px) {
  .footer {
    font-size: 16px;
  }
}
